<h3>Enjoy.</h3>

<h4><a href="/one_word">Score a single word.</a></h4>
<h4><a href="/multiple_words">Score multiple words.</a></h4>

<img id="allthethings" src='./images/score.jpg' alt="Score all the things">
