<html>
<head>
  <title>Home Page</title>
</head>
<body>
  <h1>SCRABBLE!!!</h1>
    <p>
      Go To the <strong>Score</strong> page to score one word or the <strong>Score Multiple Words</strong> page to score multiple words.
   </p>
</body>
</html>
