<h1>Scrabble Word Scoring Options</h1>

<p><a href="/score_word" title="Score a word!">Score a word!</a></p>
<p><a href="/score_multiple_words" title="Score multiple words!">Score multiple words!</a></p>
