<!DOCTYPE HTML>
<head>
  <title>Scrabble Score-o-matic</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
</head>
<html>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
