<html>
<head>
  <title>Scrabble Sinatra</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="score">Score</a>
    <a href="score_multiple">Score Multiple Words</a>
  </nav>
  <div>

    <%= yield %>

  </div>

</body>
</html>
