<!DOCTYPE html>
<html>
  <head>
    <title> Scrabble Scoring </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
  </head>
  <body>
    <%= erb :header %>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
