<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="website.css" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/score">Score one word</a>
        <a href="/multi_word">Score multiple words</a>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <p>
        Corinne Pingul and Katie Atrops
      </p>
    </footer>

  </body>
</html>
