<h1>Score Multiple Words</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="words">Enter your words:</label>
  <textarea name="words" value="" id="words"></textarea>

  <fieldset>
    <legend>Which word type should win?</legend>
    <label><input type="radio" name="score_method" value="seven_letters" checked="checked">Seven Letters</label>
    <label><input type="radio" name="score_method" value="shortest_word">Shortest Word</label>
  </fieldset>

  <input type="submit" value="Submit">
</form>

<%= erb :scoring %>
