<h3>Score all the things.</h3>

<form action="" method="post" accept-charset="utf-8">
  <label for="words">Words:</label><br>
  <textarea name="words" rows="10" cols="20" id="words" onFocus="this.value=''">Enter your words separated by commas.</textarea>

  <input type="submit" value="Score!">
</form>

<%= erb :words_result if !@words.nil?  %>
