<h1>Score!</h1>
<h2>Type words separated by spaces.</h2>

<form method="post" accept-charset="utf-8">
  <!-- UTF-8 accepts all characters, but Scrabble.rb only accepts letters. -->
  <label for="words">Words</label>
  <textarea name="words" id="words"></textarea>

  <input type="submit">

</form>

<!-- May want to hide below later on, so only displays after POST. -->
<p>
  Your word is: <%= @words %>.
</p>
<p>
  Your score is: <%= @score %>.
</p>
