<h3>Score one of the things.</h3>

<form action="" method="post" accept-charset="utf-8">
  <label for="word">Word:</label>
  <input type="text" name="word" value="" id="word">

  <input type="submit" value="Score!">
</form>


<%= erb :word_result if !@word.nil?  %>
