<html>
<title>What's my word worth?
</title>
<body>
  <form action="" method="post" accept-charset="utf-8">
    <label for="word"> Your Word</label>
    <input type="text" name="word" value="" id="word">
    <input type="submit" value="Score my Word">
  </form>
<pre>
  <%= params %>
</pre>
</body>
</html>
