<h1>This is the score page.</h1>

<form action="" method="post" accept-charset="utf-8">
  <label for="word">Word to score</label>
  <input type="text" name="word" value="" id="word">
</form>

<% unless params == {} %>
  <%= params %>
  <% @final_score %>
<% end %>
<!-- <pre>
  <%= params %>
</pre> -->
