<h1>This is the score page</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="word[]">Word: </label>
  <input type="text" name="word[]" value="" id="word">

  <input type="submit" value="Submit">

</form>

 <p> <%= "You played #{@word}" %> </p>
 <p> <%= "Total score is #{@score}" %> </p>

<% if @letter_score %>
  <% @letter_score.each_pair do |key, value| %>
   <p> <%= "#{key} is #{value} points" %> </p>
  <% end %>
<% end %>


<pre>
<%= params %>
</pre>
