<!DOCTYPE HTML>
<html>
  <body>
    <h1> Score Your Scrabble Word Here </h1>
    <form action="" method="post" accept-charset="utf-8">
      <label for="word">Word</label>
      <input type="text" name="word" value ="" id="word">
      <input type="submit" value="Submit">
    </form>
    <h3> The word <%= @word %> scores <%= @score %> </h3>
  </body>
</html>
