
<p>Word is: <%= @word %></p>
<p>Score is: <%= @score %></p>
<p>Letter scores:</p>
<% if @word %>
  <% @word.split("").each do |letter| %>
    <p><%= "#{letter}: #{Scrabble.score_letter(letter)}" %></p>
  <% end %>
<% end %>