<h1>This is the score page</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="word[]">Word: </label>
  <input type="text" name="word[]" value="" id="word">

  <input type="submit" value="Submit">

</form>

<%= @score %>

<pre>
<%= params %>
</pre>
