<h1>Score!</h1>
<h2> Below is the form for scoring.</h2>

<form method="post" accept-charset="utf-8">
  <label for="word">Word</label>
  <input type="text" name="word" id="word">

  <input type="submit">

</form>

<p>
  Your word is: <%= @word %>.
</p>
<p>
  Your score is: <%= @score %>.
</p>
