<form action="" method="post" accept-charset="utf-8">
  <label for="word">Enter word here:</label>
  <input id="word" type="text" name="word" placeholder="quarter">

  <input type="submit" value="Score Word">

</form>


<p>
  <%= "#{@word.capitalize} is worth #{Scrabble::Scrabble.score(@word)} points." %>
</p>

