<<<<<<< HEAD
<form action="" method="post" accept-charset="utf-8">
  
  <label for="word">Word</label>
  <!-- <input type="text" name="word" id="word"> -->
  <input type="text" name="word" id="word">

  <input type="submit" value="Submit">
</form>

<p> Word is: <%= @word %></p>
<p> Score is: <%= @score %></p>

<!-- Uncomment below for development -->
<!-- <pre>
	<%= params %>
</pre>
 -->
=======
  <form action="" method="post" accept-charset="utf-8">

    <label for="word">Word</label>
    <input type="text" name="word" id="word">

    <input type="submit" value="Submit">

    <%=  %>
  </form>
>>>>>>> f47e28a6f997ce2ab8954fb16d774edcb758d466
