<h1> Score that Word </h1>

<form action="" method="post" accept-charset="utf-8">
  <label for="word">Word</label>
  <input type="text" name="word" value="" id="word">
  <input type="submit" value="Submit">
</form>

<pre>
 <%= params %>
</pre>

<h1>The word '<%= @word %>' has a score of <%= @score %>.</h1>

<h3> <% (0...(@letters.length)).each do |index| %>
  <% @letters[index] %>
  <% @scores[index] %> 
  <p><%= @letters[index] + " = " + @scores[index].to_s + " point(s)" %><p>
<% end %>
</h3>

<a href="/werdz">Click here to score more than one word!</a>
