<h1>Score</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="word">Enter your word:</label>
  <input type="text" name="word" value="" id="word">
  <input type="submit" value="Submit">
</form>
