<form action="" method="post" accept-charset="utf-8">

  <label for="word">Word</label>
  <input type="text" name="word" id="word">

  <input type="submit" value="Submit">
</form>

<table>
	<tr>
		<th>Word</th>
		<th>Score</th>
		<th>Letter scores</th>
	</tr>
	<%= erb :scored_word %>
</table>

<!-- Uncomment below for development -->
<!-- <pre>
	<%= params %>
</pre>
 -->
