<h2>To score multiple words, enter words separated by a space, and click submit.</h2>

<form action="" method="post" accept-charset="utf-8">

  <label for="list_of_words">Words: </label>
  <input type="text" name="list_of_words" id="list_of_words">

  <input type="submit" value="Submit">
</form>

<% if @scored_words %>
	<table>
		<tr>
			<th>Word</th>
			<th>Score</th>
			<th>Letter scores</th>
		</tr>
	<% @scored_words.each do |word, score| %>
		<% @word = word %>
		<% @score = score %>
		<%= erb :scored_word %>
	<% end %>
	</table>
<% end %>

<!-- Uncomment below for development -->
<!-- <pre>
	<%= params %>
</pre> -->
