<h1> Score all the werdz </h1>

<form action="" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Words to Score</legend>
    <p><textarea rows="4" cols="50" placeholder="type,your,words,separated,by,commas,like,this (no spaces)" name="words[]"></textarea></p>
    <input type="submit" value="Submit">
  </fieldset>
</form>


<pre>
 <%= params %>
</pre>

<% @words.each do |word| %>
  <% points = Scrabble::Scrabble.score(word) %>
  <p><%= word %> is <%= points.to_s %> point(s).</p>
<% end %>
